<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <style>
        body {
            background: #f5f5f5;
        }

        td {
            text-align: center;
        }

        .borderColor {
            border: 1px solid #EEEEEE;
        }

    </style>
</head>
<body>
<div class="wrapper">
    <div id="sidebar">
        <% include menu.ejs %>
    </div>
    <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom" id="navigation">
            <div style="display: flex;">
                <button class="btn" type="button" data-bs-theme="dark">
                    <span><i class="fa-solid fa-bars" style="color: #000000;"></i></span>
                </button>
                <div class="btn"><span style="font-weight: bold; font-size: 20px">Quản lý ưu đãi</span></div>

            </div>
            <div id="account">
                <% if (typeof account !== 'undefined' ) { %>
                    <span style="display: none" id="accountInfo"><%= JSON.stringify(account) %></span>
                    <p style="color: black; font-weight: bold">
                        Welcome, <%= account.username %>!
                    </p>
                <% } %>
                <span><i class="fa-solid fa-circle-user" style="font-size: 25px"></i></span>
            </div>
        </nav>
        <main class="content px-3 py-2">
            <div class="content" id="mainContent">
                <div class="tab-content d-flex row justify-content-center">
                    <div class="flex-row d-flex flex-row align-items-center">
                        <form method="GET" action="" class="d-flex justify-content-between m-3 flex-fill">
                            <input type="text" name="tenNV" class="m-1 form-control " placeholder="Nhập giảm giá"/>

                                <button class="btn-dark m-1 btn d-flex flex-row col-auto" type="submit" value="submit">
                                    <span class=""><i class="fa-solid fa-magnifying-glass"></i></span>
                                    <span class="d-inline">Tìm Kiếm</span>
                                </button>
                        </form>

                        <form>
                            <button class="btn-dark m-1 btn d-flex flex-row col-auto" type="submit" value="submit">
                                <span class=""><i class="fa-solid fa-plus"></i></span>
                                <span class="d-inline">Thêm Mới</span>
                            </button>
                        </form>
                    </div>


                    <div class="tab-content d-flex row justify-content-center">
                        <table class="table text-break table-bordered">
                            <thead>
                            <tr class="bg-secondary bg-opacity-50 text-bg-info">
                                <th scope="col" class="col-1 borderColor"
                                    style="background-color: #dcdada; text-align: center">STT
                                </th>
                                <th scope="col" class="col-2 borderColor"
                                    style="background-color: #dcdada; text-align: center">Giảm giá
                                </th>
                                <th scope="col" class="col-2 borderColor"
                                    style="background-color: #dcdada; text-align: center">Hạn sử dụng
                                </th>
                                <th scope="col" class="col-2 borderColor"
                                    style="background-color: #dcdada; text-align: center">Trạng thái
                                </th>
                                <th scope="col" class="col-1 borderColor"
                                    style="background-color: #dcdada; text-align: center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < data.length; i++){ %>
                                <tr>
                                    <td scope="row"><%= i + 1 %></td>
                                    <td><%= data[i].giamGia %> %</td>
                                    <td><%= data[i].thoiGian %></td>
                                    <td
                                            style="color: <%= data[i].trangThai === 'Hoạt động' ? 'green' : 'red' %>;"
                                    ><%= data[i].trangThai %></td>
                                    <td>
                                        <a
                                                class="text-decoration-none deleteBtn "
                                        >Xem chi tiết</a>
                                    </td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <!-- Model -->
                        <!--            <div class="modal" id="myModal">-->
                        <!--                <div class="modal-dialog">-->
                        <!--                    <div class="modal-content">-->

                        <!--                        &lt;!&ndash; Modal Header &ndash;&gt;-->
                        <!--                        <div class="modal-header">-->
                        <!--                            <h4 class="modal-title" id="modal-title-test">Sửa thông tin truyện</h4>-->
                        <!--                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
                        <!--                        </div>-->

                        <!--                        &lt;!&ndash; Modal body &ndash;&gt;-->
                        <!--                        <div class="modal-body">-->
                        <!--                            <div class="tab-content d-flex row justify-content-center">-->
                        <!--                                <form action="/sua-truyen" id="editform" method="Post" class="m-3">-->
                        <!--                                    <div class="mb-3">-->
                        <!--                                        <label for="" class="form-label">Tên truyện:</label>-->
                        <!--                                        <input type="text"-->
                        <!--                                               class="form-control" name="tenNV" id="tenNV" aria-describedby="helpId"-->
                        <!--                                               placeholder="Tên truyện" autocomplete="off">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="mb-3">-->
                        <!--                                        <label for="" class="form-label">Tác giả</label>-->
                        <!--                                        <input type="text" class="form-control" name="level" id="level"-->
                        <!--                                               placeholder="Tác giả">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="mb-3">-->
                        <!--                                        <label for="" class="form-label">Mô tả</label>-->
                        <!--                                        <input type="text" class="form-control" name="moTa" id="moTa"-->
                        <!--                                               placeholder="Mô tả">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="mb-3">-->
                        <!--                                        <label for="" class="form-label">Ngày xuất bản</label>-->
                        <!--                                        <input type="date" class="form-control" name="ngayXuatBan" id="ngayXuatBan"-->
                        <!--                                               placeholder="Ngày xuất bản">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="mb-3">-->
                        <!--                                        <label for="" class="form-label">point</label>-->
                        <!--                                        <input type="number" class="form-control" name="point" id="point"-->
                        <!--                                               placeholder="point">-->
                        <!--                                    </div>-->

                        <!--                                    &lt;!&ndash; <% if(typeof msg === "string" && !(msg.trim().length === 0)){ %>-->
                        <!--                    <span class="text-danger"><%= msg %></span>-->
                        <!--                    <% } %> &ndash;&gt;-->
                        <!--                                </form>-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <!--                        &lt;!&ndash; Modal footer &ndash;&gt;-->
                        <!--                        <div class="modal-footer">-->
                        <!--                            <input type="submit" form="editform" value="Lưu thông tin" class="btn btn-primary">-->
                        <!--                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>-->
                        <!--                        </div>-->

                        <!--                    </div>-->
                        <!--                </div>-->
                        <!--            </div>-->
                        <!-- Model -->
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>
<script>
  const toggler = document.querySelector(".btn");
  toggler.addEventListener("click", function () {
    document.querySelector("#sidebar").classList.toggle("collapsed");
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>